// =================================================================
// =============     =====    ====  ==========    ====       =======
// ============  ===  ===  ==  ===  =========  ==  ===  ====  ======
// ===========  ========  ====  ==  ========  ====  ==  ====  ======
// ===========  ========  ====  ==  ========  ====  ==  ===   ======
// ===========  ========  ====  ==  ========  ====  ==      ========
// ===========  ========  ====  ==  ========  ====  ==  ====  ======
// ===========  ========  ====  ==  ========  ====  ==  ====  ======
// ============  ===  ===  ==  ===  =========  ==  ===  ====  ======
// =============     =====    ====        ====    ====  ====  ======
// =================================================================
$black = #222222
$white = #ffffff
$ghostwhite = #f8f8f8
$blue = #68b3ff
$grey = #989b9d
$whisper = #e6e6e6
$gunpowder = #4d4f50
$green = #00aa00
$red = #ff6677
$lightgreen = #7cE6a6
$sunny = #ffce00
// ====================================================================================
// ===========       ======  =====       ===       ===    ==  =======  ===      =======
// ===========  ====  ====    ====  ====  ==  ====  ===  ===   ======  ==   ==   ======
// ===========  ====  ===  ==  ===  ====  ==  ====  ===  ===    =====  ==  ====  ======
// ===========  ====  ==  ====  ==  ====  ==  ====  ===  ===  ==  ===  ==  ============
// ===========       ===  ====  ==  ====  ==  ====  ===  ===  ===  ==  ==  ============
// ===========  ========        ==  ====  ==  ====  ===  ===  ====  =  ==  ===   ======
// ===========  ========  ====  ==  ====  ==  ====  ===  ===  =====    ==  ====  ======
// ===========  ========  ====  ==  ====  ==  ====  ===  ===  ======   ==   ==   ======
// ===========  ========  ====  ==       ===       ===    ==  =======  ===      =======
// ====================================================================================
$padding__extra-small = 5px
$padding__very-small = 10px
$padding__small = 15px
$padding__base = 20px
$padding__large = 25px
$padding__very-large = 30px
$padding__extra-large = 35px
// ===========================================================================
// ===========  =====  =====  =====       ====      ===    ==  =======  ======
// ===========   ===   ====    ====  ====  ==   ==   ===  ===   ======  ======
// ===========  =   =  ===  ==  ===  ====  ==  ====  ===  ===    =====  ======
// ===========  == ==  ==  ====  ==  ===   ==  =========  ===  ==  ===  ======
// ===========  =====  ==  ====  ==      ====  =========  ===  ===  ==  ======
// ===========  =====  ==        ==  ====  ==  ===   ===  ===  ====  =  ======
// ===========  =====  ==  ====  ==  ====  ==  ====  ===  ===  =====    ======
// ===========  =====  ==  ====  ==  ====  ==   ==   ===  ===  ======   ======
// ===========  =====  ==  ====  ==  ====  ===      ===    ==  =======  ======
// ===========================================================================
$margin__extra-small = 5px
$margin__very-small = 10px
$margin__small = 15px
$margin__base = 20px
$margin__large = 25px
$margin__very-large = 30px
$margin__extra-large = 35px
// ==========================================================
// ===========        ====    ====  =======  ==        ======
// ===========  =========  ==  ===   ======  =====  =========
// ===========  ========  ====  ==    =====  =====  =========
// ===========  ========  ====  ==  ==  ===  =====  =========
// ===========      ====  ====  ==  ===  ==  =====  =========
// ===========  ========  ====  ==  ====  =  =====  =========
// ===========  ========  ====  ==  =====    =====  =========
// ===========  =========  ==  ===  ======   =====  =========
// ===========  ==========    ====  =======  =====  =========
// ==========================================================

// Size
$font-size__extra-small = 12px
$font-size__very-small = 14px
$font-size__small = 15px
$font-size__base = 16px
$font-size__large = 20px
$font-size__very-large = 32px
$font-size__extra-large = 26px
// Weight
$font-weight__very-thin = 100
$font-weight__thin = 200
$font-weight__base = 300
$font-weight__bold = 400
$font-weight__very-bold = 600
$font-weight__extra-bold = 900
// ===========================================================================
// ===========      ======    ====       ===       ===        ==       =======
// ===========  ===  ====  ==  ===  ====  ==  ====  ==  ========  ====  ======
// ===========  ====  ==  ====  ==  ====  ==  ====  ==  ========  ====  ======
// ===========  ===  ===  ====  ==  ===   ==  ====  ==  ========  ===   ======
// ===========      ====  ====  ==      ====  ====  ==      ====      ========
// ===========  ===  ===  ====  ==  ====  ==  ====  ==  ========  ====  ======
// ===========  ====  ==  ====  ==  ====  ==  ====  ==  ========  ====  ======
// ===========  ===  ====  ==  ===  ====  ==  ====  ==  ========  ====  ======
// ===========      ======    ====  ====  ==       ===        ==  ====  ======
// ===========================================================================

// Width
$border-width__base = 1px
$border-width__bold = 2px
// Radius
$border-radius__base = 4px
$border-radius__half = 50%
// =================================================================================
// =============    ====       ======  =======     ===    ==        ==  ====  ======
// ============  ==  ===  ====  ====    =====  ===  ===  ======  =====   ==   ======
// ===========  ====  ==  ====  ===  ==  ===  =========  ======  ======  ==  =======
// ===========  ====  ==  ====  ==  ====  ==  =========  ======  ======  ==  =======
// ===========  ====  ==       ===  ====  ==  =========  ======  =======    ========
// ===========  ====  ==  ========        ==  =========  ======  ========  =========
// ===========  ====  ==  ========  ====  ==  =========  ======  ========  =========
// ============  ==  ===  ========  ====  ===  ===  ===  ======  ========  =========
// =============    ====  ========  ====  ====     ===    =====  ========  =========
// =================================================================================
$opacity__strong = 0.8
$opacity__base = 0.5
$opacity__weak = 0.4
// =================================================================================================================
// ===========        ==       ======  =====  =======  ===      ===    ==        ==    ====    ====  =======  ======
// ==============  =====  ====  ====    ====   ======  ==  ====  ===  ======  ======  ====  ==  ===   ======  ======
// ==============  =====  ====  ===  ==  ===    =====  ==  ====  ===  ======  ======  ===  ====  ==    =====  ======
// ==============  =====  ===   ==  ====  ==  ==  ===  ===  ========  ======  ======  ===  ====  ==  ==  ===  ======
// ==============  =====      ====  ====  ==  ===  ==  =====  ======  ======  ======  ===  ====  ==  ===  ==  ======
// ==============  =====  ====  ==        ==  ====  =  =======  ====  ======  ======  ===  ====  ==  ====  =  ======
// ==============  =====  ====  ==  ====  ==  =====    ==  ====  ===  ======  ======  ===  ====  ==  =====    ======
// ==============  =====  ====  ==  ====  ==  ======   ==  ====  ===  ======  ======  ====  ==  ===  ======   ======
// ==============  =====  ====  ==  ====  ==  =======  ===      ===    =====  =====    ====    ====  =======  ======
// =================================================================================================================

// Duration
$transition-duration__base = 0.2s