// =================================================================
// =============     =====    ====  ==========    ====       =======
// ============  ===  ===  ==  ===  =========  ==  ===  ====  ======
// ===========  ========  ====  ==  ========  ====  ==  ====  ======
// ===========  ========  ====  ==  ========  ====  ==  ===   ======
// ===========  ========  ====  ==  ========  ====  ==      ========
// ===========  ========  ====  ==  ========  ====  ==  ====  ======
// ===========  ========  ====  ==  ========  ====  ==  ====  ======
// ============  ===  ===  ==  ===  =========  ==  ===  ====  ======
// =============     =====    ====        ====    ====  ====  ======
// =================================================================
$black = #222222
$white = #ffffff
$ghostwhite = #f8f8f8
$blue = #68b3ff
$grey = #989b9d
$whisper = #e6e6e6
$lightgrey = #dedede
$gunpowder = #4d4f50
$green = #00aa00
$red = #ff6677
$lightgreen = #7cE6a6
$sunny = #ffce00
// ====================================================================================
// ===========       ======  =====       ===       ===    ==  =======  ===      =======
// ===========  ====  ====    ====  ====  ==  ====  ===  ===   ======  ==   ==   ======
// ===========  ====  ===  ==  ===  ====  ==  ====  ===  ===    =====  ==  ====  ======
// ===========  ====  ==  ====  ==  ====  ==  ====  ===  ===  ==  ===  ==  ============
// ===========       ===  ====  ==  ====  ==  ====  ===  ===  ===  ==  ==  ============
// ===========  ========        ==  ====  ==  ====  ===  ===  ====  =  ==  ===   ======
// ===========  ========  ====  ==  ====  ==  ====  ===  ===  =====    ==  ====  ======
// ===========  ========  ====  ==  ====  ==  ====  ===  ===  ======   ==   ==   ======
// ===========  ========  ====  ==       ===       ===    ==  =======  ===      =======
// ====================================================================================
$padding_extra-small = 5px
$padding_very-small = 10px
$padding_small = 15px
$padding_base = 20px
$padding_large = 25px
$padding_very-large = 30px
$padding_extra-large = 35px
// ===========================================================================
// ===========  =====  =====  =====       ====      ===    ==  =======  ======
// ===========   ===   ====    ====  ====  ==   ==   ===  ===   ======  ======
// ===========  =   =  ===  ==  ===  ====  ==  ====  ===  ===    =====  ======
// ===========  == ==  ==  ====  ==  ===   ==  =========  ===  ==  ===  ======
// ===========  =====  ==  ====  ==      ====  =========  ===  ===  ==  ======
// ===========  =====  ==        ==  ====  ==  ===   ===  ===  ====  =  ======
// ===========  =====  ==  ====  ==  ====  ==  ====  ===  ===  =====    ======
// ===========  =====  ==  ====  ==  ====  ==   ==   ===  ===  ======   ======
// ===========  =====  ==  ====  ==  ====  ===      ===    ==  =======  ======
// ===========================================================================
$margin_extra-small = 5px
$margin_very-small = 10px
$margin_small = 15px
$margin_base = 20px
$margin_large = 25px
$margin_very-large = 30px
$margin_extra-large = 35px
// ==========================================================
// ===========        ====    ====  =======  ==        ======
// ===========  =========  ==  ===   ======  =====  =========
// ===========  ========  ====  ==    =====  =====  =========
// ===========  ========  ====  ==  ==  ===  =====  =========
// ===========      ====  ====  ==  ===  ==  =====  =========
// ===========  ========  ====  ==  ====  =  =====  =========
// ===========  ========  ====  ==  =====    =====  =========
// ===========  =========  ==  ===  ======   =====  =========
// ===========  ==========    ====  =======  =====  =========
// ==========================================================

// Size
$font-size_extra-small = 12px
$font-size_very-small = 14px
$font-size_small = 15px
$font-size_base = 16px
$font-size_large = 20px
$font-size_very-large = 32px
$font-size_extra-large = 26px
// Weight
$font-weight_very-thin = 100
$font-weight_thin = 200
$font-weight_base = 300
$font-weight_bold = 400
$font-weight_very-bold = 600
$font-weight_extra-bold = 900
// ===========================================================================
// ===========      ======    ====       ===       ===        ==       =======
// ===========  ===  ====  ==  ===  ====  ==  ====  ==  ========  ====  ======
// ===========  ====  ==  ====  ==  ====  ==  ====  ==  ========  ====  ======
// ===========  ===  ===  ====  ==  ===   ==  ====  ==  ========  ===   ======
// ===========      ====  ====  ==      ====  ====  ==      ====      ========
// ===========  ===  ===  ====  ==  ====  ==  ====  ==  ========  ====  ======
// ===========  ====  ==  ====  ==  ====  ==  ====  ==  ========  ====  ======
// ===========  ===  ====  ==  ===  ====  ==  ====  ==  ========  ====  ======
// ===========      ======    ====  ====  ==       ===        ==  ====  ======
// ===========================================================================

// Width
$border-width_base = 1px
$border-width_bold = 2px
// Radius
$border-radius_small = 2px
$border-radius_base = 4px
$border-radius_half = 50%
// =================================================================================
// =============    ====       ======  =======     ===    ==        ==  ====  ======
// ============  ==  ===  ====  ====    =====  ===  ===  ======  =====   ==   ======
// ===========  ====  ==  ====  ===  ==  ===  =========  ======  ======  ==  =======
// ===========  ====  ==  ====  ==  ====  ==  =========  ======  ======  ==  =======
// ===========  ====  ==       ===  ====  ==  =========  ======  =======    ========
// ===========  ====  ==  ========        ==  =========  ======  ========  =========
// ===========  ====  ==  ========  ====  ==  =========  ======  ========  =========
// ============  ==  ===  ========  ====  ===  ===  ===  ======  ========  =========
// =============    ====  ========  ====  ====     ===    =====  ========  =========
// =================================================================================
$opacity_strong = 0.8
$opacity_base = 0.5
$opacity_weak = 0.4
// =================================================================================
// ============      ===  ====  =====  =====       =====    ====  ====  ====  ======
// ===========  ====  ==  ====  ====    ====  ====  ===  ==  ===  ====  ====  ======
// ===========  ====  ==  ====  ===  ==  ===  ====  ==  ====  ==  ====  ====  ======
// ============  =======  ====  ==  ====  ==  ====  ==  ====  ==  ====  ====  ======
// ==============  =====        ==  ====  ==  ====  ==  ====  ==   ==    ==  =======
// ================  ===  ====  ==        ==  ====  ==  ====  ===  ==    ==  =======
// ===========  ====  ==  ====  ==  ====  ==  ====  ==  ====  ===  ==    ==  =======
// ===========  ====  ==  ====  ==  ====  ==  ====  ===  ==  =====    ==    ========
// ============      ===  ====  ==  ====  ==       =====    =======  ====  =========
// =================================================================================
$shadow_base = 0px 2px 8px -4px $black
// =================================================================================================================
// ===========        ==       ======  =====  =======  ===      ===    ==        ==    ====    ====  =======  ======
// ==============  =====  ====  ====    ====   ======  ==  ====  ===  ======  ======  ====  ==  ===   ======  ======
// ==============  =====  ====  ===  ==  ===    =====  ==  ====  ===  ======  ======  ===  ====  ==    =====  ======
// ==============  =====  ===   ==  ====  ==  ==  ===  ===  ========  ======  ======  ===  ====  ==  ==  ===  ======
// ==============  =====      ====  ====  ==  ===  ==  =====  ======  ======  ======  ===  ====  ==  ===  ==  ======
// ==============  =====  ====  ==        ==  ====  =  =======  ====  ======  ======  ===  ====  ==  ====  =  ======
// ==============  =====  ====  ==  ====  ==  =====    ==  ====  ===  ======  ======  ===  ====  ==  =====    ======
// ==============  =====  ====  ==  ====  ==  ======   ==  ====  ===  ======  ======  ====  ==  ===  ======   ======
// ==============  =====  ====  ==  ====  ==  =======  ===      ===    =====  =====    ====    ====  =======  ======
// =================================================================================================================

// Duration
$transition-duration_fast = 0.1s
$transition-duration_base = 0.2s

// =================================================================
// =============     ===  ===========  ======      ====      =======
// ============  ===  ==  ==========    ====  ====  ==  ====  ======
// ===========  ========  =========  ==  ===  ====  ==  ====  ======
// ===========  ========  ========  ====  ===  ========  ===========
// ===========  ========  ========  ====  =====  ========  =========
// ===========  ========  ========        =======  ========  =======
// ===========  ========  ========  ====  ==  ====  ==  ====  ======
// ============  ===  ==  ========  ====  ==  ====  ==  ====  ======
// =============     ===        ==  ====  ===      ====      =======
// =================================================================
.border-radius_bottom-fix
  border-radius $border-radius_base $border-radius_base 0 0 !important

.cursor_pointer
  cursor pointer

.form-label_margin-bottom
  margin-bottom $margin_very-small